/* Your Website Styles */
body{
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Parisienne', cursive;
}
h3{
	font-family: 'Parisienne', cursive;	
	font-size:1.5em;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

